<head>
	<link rel="stylesheet" type="text/css" href="../resources/slowpost.css">
</head>
<html>
	<table class="container">
		<tr>
			<td class="column">
				<table class="header">
					<tr>
						<td class="column">
							<img src="cid:resources/slowpost_banner.png" class="header-image">
							<p class="emphasis">Your friend <%= hash[:mail].from_person.name %> sent you a Slowpost - we delivered it by email because you don&#39;t have the app yet.</p>
							<p class="emphasis bold"><a class="yellow-link" href="https://itunes.apple.com/us/app/slowpost/id1018618447">Download the app</a> on iOS now!</p>
						</td>
					</tr>
				</table>
				<table class="card">
					<tr>
						<td class="column">
							<img src= <%= hash[:image_cid] %> class="card-image">
							<table class="from-container">
								<p class="avatar"> <%= hash[:mail].from_person.initials %></p>
								<p class="from-name"><%= hash[:mail].from_person.name %></p>
							</table>
							<p class="to-names">To <%= hash[:mail].to_list %></p>
							<p class="date"> Sent on <%= hash[:mail].date_sent.to_date.to_s %></p>
							<p class="date"> Delivered on <%= hash[:mail].date_delivered.to_date.to_s %></p>
							<p class="text"> <%= hash[:mail].message_content %></p>
						</td>
					</tr>
				</table>
				<table class="footer">
					<tr>
						<td class="column">
							<p class="emphasis"> Slowposts are time-delayed messages evoking a postcard. Enjoy the deeper form of communication that happens when people stop chatting and start saying something meaningful to each other.</p>
							<a href="https://itunes.apple.com/us/app/slowpost/id1018618447">
								<img src="cid:resources/app_store_icon.png" class="app-store-icon" alt="Download on the App Store.">
							</a>
							<p class="emphasis bold"> Learn more at <a class="yellow-link" href="http://slowpost.me">http://slowpost.me</a>.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</html>
